.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
.eggs/
*.egg-info/
dist/
build/
build-deb/
logs/
recordings/
photos/
*.mp4
*.jpg
*.jpeg
*.png
*.log
!assets/mintcam-logo.jpg
!assets/logo.jpg
!assets/banner.png
!assets/screenshot.png
build-dir/
.flatpak-builder/
PRIVATE_README.md
