#!/usr/bin/make -f
# debhelper rules for MintCam (pure Python app - no compilation needed)

%:
	dh $@

override_dh_auto_configure:
	@echo "Nothing to configure (pure Python app)"

override_dh_auto_build:
	@echo "Nothing to build (pure Python app)"

override_dh_auto_install:
	install -d $(CURDIR)/debian/mintcam/usr/bin
	install -m 0755 packaging/mintcam-launcher $(CURDIR)/debian/mintcam/usr/bin/mintcam
	install -d $(CURDIR)/debian/mintcam/usr/share/applications
	install -m 0644 packaging/mintcam.desktop $(CURDIR)/debian/mintcam/usr/share/applications/org.mintcam.MintCam.desktop
	install -d $(CURDIR)/debian/mintcam/usr/share/metainfo
	install -m 0644 mintcam.appdata.xml $(CURDIR)/debian/mintcam/usr/share/metainfo/mintcam.appdata.xml
	install -d $(CURDIR)/debian/mintcam/usr/share/pixmaps
	install -m 0644 assets/mintcam.png $(CURDIR)/debian/mintcam/usr/share/pixmaps/mintcam.png
	mkdir -p $(CURDIR)/debian/mintcam/usr/share/icons/hicolor
	for size in 16 32 48 64 128 256 512; do \
		install -d $(CURDIR)/debian/mintcam/usr/share/icons/hicolor/$${size}x$${size}/apps; \
		install -m 0644 assets/icons/mintcam-$${size}.png \
			$(CURDIR)/debian/mintcam/usr/share/icons/hicolor/$${size}x$${size}/apps/mintcam.png; \
	done
	install -d $(CURDIR)/debian/mintcam/usr/share/mintcam
	cp -r app requirements.txt run.sh README.md \
		$(CURDIR)/debian/mintcam/usr/share/mintcam/
	find $(CURDIR)/debian/mintcam -name '__pycache__' -exec rm -rf {} +
	find $(CURDIR)/debian/mintcam -name '*.pyc' -delete
