[Desktop Entry]
Name=MintCam
Comment=Webcam app for Linux Mint
Exec=mintcam
Icon=mintcam-logo
Terminal=false
Type=Application
Categories=AudioVideo;Video;Recorder;
Keywords=webcam;camera;video;recorder;
