[Desktop Entry]
Name=MintCam
Comment=Webcam app for Linux Mint
Exec=/usr/bin/mintcam
Icon=mintcam
Terminal=false
Type=Application
Categories=AudioVideo;Video;Recorder;
Keywords=webcam;camera;video;recorder;
